# Environment
PORT=3001
LIVEKIT_URL=ws://127.0.0.1:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

# Modo de Manutenção
MAINTENANCE_MODE=false
MAINTENANCE_MESSAGE="Estamos realizando melhorias programadas. Voltaremos em breve!"
ADMIN_BYPASS_TOKEN=admin_preview
